extends layouts/main-layout.pug

block content    
    .resultsContainer

block headerButton
    a(href="/messages/new")
        i.fa-regular.fa-message

block scripts
    script(src="/js/inboxPage.js")