mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic ,alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="what's happening?")
            .buttonContainer
                button#submitPostButton(disabled="") Tweet
